@font-face {
    font-family: tictactoe;
    src: url(fonts/TicTacToe.ttf);
  }

html {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
}

.title {
    text-align: center;
    font-size: 5rem;
    margin: 0;
    font-family: tictactoe;
}

.title::first-letter {
    color: rgb(183, 0, 255);
}

.player1, .player2 {
    position: relative;
}

.first-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    gap: 50px;
}

.form label {
    position: absolute;
    top: -30px;
}

.form input {
    height: 30px;
    width: 250px;
    outline: none;
    font-size: 1rem;
    padding-left: 5px;
    color:rgba(183, 0, 255, .8);
}

#start-button {
    margin: 0 auto;
    font-size: 1rem;
    width: 150px;
    height: 45px;
    border: 1px solid rgba(183, 0, 255, .2);
    border-radius: 8px;
    background-color: rgb(218, 238, 255);
    cursor: pointer;
}

.second-wrapper {
    display: flex;
    justify-content:space-around;
    align-content: center;
    margin-top: 100px;
    visibility: hidden;
}

.text-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
}

.winner-icon {
    background-image: url(icons/down-arrow.png);
    background-size: 100%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -135px;
    visibility: hidden;
}

.player {
    font-size: 1.7rem;
    position: absolute;
}

.playerScore {
    align-self: center;
    margin-top: 35px;
    font-size: .8rem;
}

.table {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(216, 236, 252);
    height: 500px;
    width: 500px;
    font-family: Arial, sans-serif;
    color:rgb(183, 0, 255);
    cursor: pointer;
}

.table .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.table .column {
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 8rem;
}

.table .border {
    border-right: 2px solid rgba(183, 0, 255, .2);
    border-left: 2px solid rgba(183, 0, 255, .2);
}

.table #row1 .column {
    border-top: 2px solid rgba(183, 0, 255, .2);
    border-bottom: 2px solid rgba(183, 0, 255, .2);
}

.game-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#restart-button {
    align-self: center;
    margin-top: 25px;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(183, 0, 255, .2);
    background-color: rgb(218, 238, 255);
    cursor: pointer;
}